<html>
    <head>

        <title>ARCSolutions - About Us</title>

        <meta name="viewport" content="width=device-width, initial-scale=1">

        <script src="https://code.jquery.com/jquery-3.2.1.min.js"   integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="   crossorigin="anonymous"></script>
        
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"></link>
        
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"></link>
        
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"></link>

        <link rel="stylesheet" href="public/style/style-all.css"></link>

        <link rel="stylesheet" href="public/style/style-a.css"></link>

        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

        <script type="text/javascript" src="public/scripts/java-all.js">
        </script>

        <script type="text/javascript" src="public/scripts/java-i.js">
        </script>
        
    </head>

    <body>

        <!-- Header same on every page -->
        
        <div class="jumbotron">
            <div class="container">
                <h1>ARCSolutions</h1>
                <p>your office partner</p>
            </div>
        </div>

        <div class="navbar" id="navbar1">
            <div class="container">
                <a href="javascript:void(0);" id="menu">Menu</a>
                <a class="active" href="https://joeschoeler13.github.io/project3/views/aboutus.html">About Us</a>
                <a href="https://joeschoeler13.github.io/project3/views/references.html">Our Customers</a>
                <a href="https://joeschoeler13.github.io/project3/views/process.html">A Project Process</a>
                <a href="https://joeschoeler13.github.io/project3/views/convinced.html">Become a Customer</a>
                <a href="javascript:void(0);" class="icon" id="iSmall" onclick="respNavbar()">&#9776;</a>
            </div>
        </div>

        <!-- End of Header -->

        <!-- Start of Sidenav Social Media -->

        <div id="SMsidenav" class="sidenav">
            <a href="https://www.facebook.com/" id="F">
                <table class="table-sidenav" style="width:100%">
                    <tr>
                        <th style="width:90%">Facebook</th>
                        <th style="width:10%"><i class="fa fa-facebook"></i></th>
                    </tr>
                </table>
            </a>
            <a href="https://twitter.com/" id="T">
                <table class="table-sidenav" style="width:100%">
                    <tr>
                        <th style="width:90%">Twitter</th>
                        <th style="width:10%"><i class="fa fa-twitter"></i></th> 
                    </tr>
                </table>
            </a>
            <a href="https://www.linkedin.com/" id="L">
                <table class="table-sidenav" style="width:100%">
                    <tr>
                        <th style="width:90%">LinkedIn</th>
                        <th style="width:10%"><i class="fa fa-linkedin"></i></th>
                    </tr>
                </table>
            </a>
            <a href="https://www.xing.com/" id="X">
                <table class="table-sidenav" style="width:100%">
                    <tr>
                        <th style="width:90%">Xing</th>
                        <th style="width:10%"><i class="fa fa-xing"></i></th> 
                    </tr>
                </table>
            </a>
        </div>

        <!-- End of Sidenav Social Media -->


        <!-- Start of Scroll Up Button -->

        <button onclick="scrollToTop()" id="ScrollUpButton" title="Go to top">&#x25B2;</button>

        <!-- End of Scroll Up Button -->


        <!-- Start of Explanation -->

        <div class="container text-center" id="firstDiv">
            <div>
                <h1>Who Are We?</h1>
            </div>
            <div>
                <p>
                    ARCSolutions is a small independent business focusing on outsourcing
                    office work. We take care of everyday challenges to free up your time. 
                    From setting up presentations to statistical analysis or recommendations for process automatization of daily businesses, 
                    we are your solution to efficient professional practice.
                    We are made up of a small group of university students, each with a different
                    academic background, interested in refining our skills and gaining
                    valuable knowledge we can apply to feature endeavors. We are based in Canada,
                    in the province of British Columbia at the University of Victoria, but we reach
                    to all corners of the world. <br>
                    <a href="https://joeschoeler13.github.io/project2/convinced.html">Help us expand our reach to you today! </a>
                </p>
            </div>
        </div>
        
        <!-- End of Explanation -->


        <hr>


        <!-- Start of Vision/Mission -->

        <div class="container text-center">
            <div>
                <h1>Our Key Values</h1>
            </div>
            <div class="container">
                <div class="row">
                    <div class="visionleft">
                        <div>
                            <h2>Reliability</h2>
                            <h4>We stand our word!</h4>
                            <p>
                                We will define goals and deadlines together with you, regarding your wished services. <br>
                                When those are defined, you can be sure we will hold them.
                            </p>
                        </div>
                    </div>
                    <div class="visionright">
                        <div>
                            <h2>Sustainability</h2>
                            <h4>Our solutions are no one hit wonder!</h4>
                            <p>
                                We will do our best to provide you a solutions for your problems, that will last as long as you need it.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="visionleft">
                        <div>
                            <h2>Speed</h2>
                            <h4>We are faster than inhouse!</h4>
                            <p>
                                After we set the broad picture of what your solution should look like, we will start the work on it as soon as possible. <br>
                                Our promise is to provide a faster solution than you would get it inhouse.
                            </p>
                        </div>
                    </div>
                    <div class="visionright">
                        <div>
                            <h2>Quality</h2>
                            <h4>We stand for high quality!</h4>
                            <p>
                                All of us have experiences with the requirements of office solutions and are trained for quality. <br>
                                You should expect nothing but the best, working together with us.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- End of Vision/Mission -->


        <hr>


        <!-- Start of Meet the Team -->
        
        <div class="container">
            <div class="container text-center">
                <h1>Meet the Team!</h1>
            </div>
            <div class="row">
                <div class="column">
                    <div class="card">
                        <img class="team" src="https://raw.githubusercontent.com/joeschoeler13/project2/master/pictures/pic-joe.jpg" alt="Joe">
                        <div class="container-card">
                            <h2>Joe Schöler</h2>
                            <p class="title">Founder</p>
                            <p>Joe is a third year business student, majoring in management, philosophy,
                            and economics. He is fluent on Microsoft Excel, VBA Programmatics,
                            and has over a year of working experience in the marketing department
                            for a German payment service provider. His diverse expertise make him 
                            the go to man for anything your business may need.</p>
                            <p><a href="mailto:joeschoeler@example.com?subject=Contact Request">joeschoeler@example.com</a></p> 
                        </div>
                    </div>    
                </div>  

                <div class="column">
                    <div class="card">
                        <img class="team" src="https://raw.githubusercontent.com/joeschoeler13/project2/master/pictures/pic-jolyn.jpg" alt="Jolyn">
                        <div class="container-card">
                            <h2>Jolyn Ng</h2>  
                            <p class="title">Founder</p>  
                            <p>Jolyn is a fourth year business student majoring in marketing. With a passion for design 
                                and eye for aesthetics. She is able to offer excellent communication solutions and design-side recommendations.</p>
                            <p><a href="mailto:jolynngxy@gmail.com?subject=Contact Request">jolynngxy@gmail.com</a></p> 
                        </div>
                    </div>
                </div>

                <div class="column">
                    <div class="card">
                        <img class="team" src="https://raw.githubusercontent.com/joeschoeler13/project2/master/pictures/pic-willa.jpg" alt="Willa">
                        <div class="container-card">
                            <h2>Willa Hladun</h2>
                            <p class="title">Founder</p>    
                            <p>
                                Willa is a second year psychology student, with experience in academic
                                research and writing. Having a long history in the theatrical arts,
                                presentation work is second nature, and she is happy to 
                                provide her creativity to make any project stand out.</p>
                            <p><a href="mailto:willa.hladun@gmail.com.com?subject=Contact Request">willa.hladun@gmail.com</a></p>
                        </div>    
                    </div>
                </div>
            </div>
        </div>

        <!-- End of Meet the Team -->


        <!-- Start of Footer -->

        <footer>
            <div class="footer text-right">
                &copy; Copyright 2017 ARCSolutions
            </div>
        </footer>
    
        <!-- End of Footer -->

    </body>
</html>