<html>
    <head>

        <title>ARCSolutions - Contact Us</title>
        
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <script src="https://code.jquery.com/jquery-3.2.1.min.js"   integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="   crossorigin="anonymous"></script>
        
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"></link>
        
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"></link>
        
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"></link>

        <link rel="stylesheet" href="/style/style-all.css"></link>

        <link rel="stylesheet" href="/style/style-c.css"></link>

        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

        <script type="text/javascript" src="/scripts/java-all.js">
        </script>

        <script type="text/javascript" src="/scripts/java-c.js">
        </script>

    </head>

    <body>

        <!-- Header same on every page -->
        
        <div class="jumbotron">
            <div class="container">
                <h1>ARCSolutions</h1>
                <p>your office partner</p>
            </div>
        </div>

        <div class="navbar" id="navbar1">
            <div class="container">
                <a href="javascript:void(0);" id="menu">Menu</a>
                <a href="https://arcsapp.mybluemix.net/aboutus.html">About Us</a>
                <a href="https://arcsapp.mybluemix.net/references.html">Our Customers</a>
                <a href="https://arcsapp.mybluemix.net/process.html">A Project Process</a>
                <a class="active" href="https://arcsapp.mybluemix.net/convinced.html">Become a Customer</a>
                <a href="javascript:void(0);" class="icon" id="iSmall" onclick="respNavbar()">&#9776;</a>
            </div>
        </div>

        <!-- End of Header -->

        <!-- Start of Sidenav Social Media -->

        <div id="SMsidenav" class="sidenav">
            <a href="https://www.facebook.com/" id="F">
                <table class="table-sidenav" style="width:100%">
                    <tr>
                        <th style="width:90%">Facebook</th>
                        <th style="width:10%"><i class="fa fa-facebook"></i></th>
                    </tr>
                </table>
            </a>
            <a href="https://twitter.com/" id="T">
                <table class="table-sidenav" style="width:100%">
                    <tr>
                        <th style="width:90%">Twitter</th>
                        <th style="width:10%"><i class="fa fa-twitter"></i></th> 
                    </tr>
                </table>
            </a>
            <a href="https://www.linkedin.com/" id="L">
                <table class="table-sidenav" style="width:100%">
                    <tr>
                        <th style="width:90%">LinkedIn</th>
                        <th style="width:10%"><i class="fa fa-linkedin"></i></th>
                    </tr>
                </table>
            </a>
            <a href="https://www.xing.com/" id="X">
                <table class="table-sidenav" style="width:100%">
                    <tr>
                        <th style="width:90%">Xing</th>
                        <th style="width:10%"><i class="fa fa-xing"></i></th> 
                    </tr>
                </table>
            </a>
        </div>

        <!-- End of Sidenav Social Media -->

        <!-- Start of Scroll Up Button -->

        <button onclick="scrollToTop()" id="ScrollUpButton" title="Go to top">&#x25B2;</button>

        <!-- End of Scroll Up Button -->


        <!-- Start of Page Explanation -->

        <div class="container text-center" id="firstDiv">
                <div>
                    <h1>Communication is King</h1>
                </div>
                <div>
                    <p>
                        We convinced you and you would like to send us a request for a project? <br>
                        You have any questions or you would just like to talk to us? <br>
                        Feel free to chat with us or send us an e-mail.
                    </p>
                </div>
            </div>

        <!-- Start of page Explanation -->

        <hr>

        <!-- Start of page divider -->

        <div class="container" id="divider">
            <div class="row">
                <!-- Start of Chatbot -->
                <div class="column chatcolumn">
                    <div class="card">
                        <div class="colheader text-center">
                            <h1>Chat with us</h1>
                        </div>
                        <div class="colbody">
                            <div class="chatbody">
                                <div class="chat">
                                    <p>Lorem ipsum dolor sit amet.</p>
                                </div>
                                <div class="chat darker">
                                    <p>Lorem ipsum dolor sit amet.</p>
                                </div>
                                <div class="chat">
                                    <p>Lorem ipsum dolor sit amet.</p>
                                </div>
                                <div class="chat darker">
                                    <p>Lorem ipsum dolor sit amet.</p>
                                </div>
                                <div class="chat">
                                    <p>Lorem ipsum dolor sit amet.</p>
                                </div>
                                <div class="chat darker">
                                    <p>Lorem ipsum dolor sit amet.</p>
                                </div>
                                <div class="chat">
                                    <p>Lorem ipsum dolor sit amet.</p>
                                </div>
                                <div class="chat darker">
                                    <p>Lorem ipsum dolor sit amet.</p>
                                </div>
                                <div class="chat">
                                    <p>Lorem ipsum dolor sit amet.</p>
                                </div>
                                <div class="chat darker">
                                    <p>Lorem ipsum dolor sit amet.</p>
                                </div>
                                <div class="chat">
                                    <p>Lorem ipsum dolor sit amet.</p>
                                </div>
                                <div class="chat darker">
                                    <p>Lorem ipsum dolor sit amet.</p>
                                </div>
                                <div class="chat">
                                    <p>Lorem ipsum dolor sit amet.</p>
                                </div>
                                <div class="chat darker">
                                    <p>Lorem ipsum dolor sit amet.</p>
                                </div>
                                <div class="chat">
                                    <p>Lorem ipsum dolor sit amet.</p>
                                </div>
                                <div class="chat darker">
                                    <p>Lorem ipsum dolor sit amet.</p>
                                </div>
                                <div class="chat">
                                    <p>Lorem ipsum dolor sit amet.</p>
                                </div>
                                <div class="chat darker">
                                    <p>Lorem ipsum dolor sit amet.</p>
                                </div>
                                <div class="chat">
                                    <p>Lorem ipsum dolor sit amet.</p>
                                </div>
                                <div class="chat darker">
                                    <p>Lorem ipsum dolor sit amet.</p>
                                </div>
                                <div class="chat">
                                    <p>Lorem ipsum dolor sit amet.</p>
                                </div>
                                <div class="chat darker">
                                    <p>Lorem ipsum dolor sit amet.</p>
                                </div>
                                <div class="chat">
                                    <p>Lorem ipsum dolor sit amet.</p>
                                </div>
                                <div class="chat darker">
                                    <p>Lorem ipsum dolor sit amet.</p>
                                </div>
                                <div class="chat">
                                    <p>Lorem ipsum dolor sit amet.</p>
                                </div>
                                <div class="chat darker">
                                    <p>Lorem ipsum dolor sit amet.</p>
                                </div>
                                <div class="chat">
                                    <p>Lorem ipsum dolor sit amet.</p>
                                </div>
                                <div class="chat darker">
                                    <p>Lorem ipsum dolor sit amet.</p>
                                </div>
                            </div>
                            <div class="chatinput">
                                <input type="text" placeholder="Type in your message ..." /> 
                                <button id="chatbtn" onclick="sendchat">Send</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End of Chatbot -->
                <!-- Start of E-mail-Form -->
                <div class="column">
                    <div class="card">
                        <div class="colheader text-center">
                            <h1>Write an e-mail</h1>
                        </div>
                        <div class="colbody">
                            <div class="container-form">
                                <form action="/action_page.php">
                                    <fieldset>
                                        <legend>Personal information:</legend>

                                        <label for="fname">First Name</label>
                                        <input type="text" id="fname" name="firstname" placeholder="...">
                                                
                                        <label for="lname">Last Name</label>
                                        <input type="text" id="lname" name="lastname" placeholder="...">

                                        <label for="tname">Title</label>
                                        <input type="text" id="tname" name="titlename" placeholder="...">
                                    </fieldset>
                                    <fieldset>
                                        <legend>Your request:</legend>

                                        <label for="reason">Reason of contacting</label>
                                            <select id="reason" name="reason">
                                                <option value="project">Request for a project</option>
                                                <option value="carreer">Carreer opportunities</option>
                                                <option value="other">Other kinds of requests</option>
                                            </select>
                                                
                                            <label for="subject">Subject</label>
                                            <textarea id="subject" name="subject" placeholder="Write something..." style="height:200px"></textarea>
                                        </fieldset> 
                                    </form>
                                    <button id="submitform" onclick="submitform()">Submit</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End of E-mail-Form -->
            </div>
        </div>

        <!-- End of page divider -->

        <!-- Start of Footer -->

        <footer>
            <div class="footer text-right">
                &copy; Copyright 2017 ARCSolutions
            </div>
        </footer>
        
        <!-- End of Footer -->

    </body>
</html>