<html>
    <head>

        <title>ARCSolutions - Our Woking Process</title>

        <meta name="viewport" content="width=device-width, initial-scale=1">

        <script src="https://code.jquery.com/jquery-3.2.1.min.js"   integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="   crossorigin="anonymous"></script>
        
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"></link>
        
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"></link>
        
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"></link>

        <link rel="stylesheet" href="/style/style-all.css"></link>

        <link rel="stylesheet" href="/style/style-p.css"></link>

        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

        <script type="text/javascript" src="/scripts/java-all.js">
        </script>

        <script type="text/javascript" src="/scripts/java-p.js">
        </script>
        
    </head>

    <body>

        <!-- Header same on every page -->
        
        <div class="jumbotron">
            <div class="container">
                <h1>ARCSolutions</h1>
                <p>your office partner</p>
            </div>
        </div>

        <div class="navbar" id="navbar1">
            <div class="container">
                <a href="javascript:void(0);" id="menu">Menu</a>
                <a href="https://arcsapp.mybluemix.net/aboutus">About Us</a>
                <a href="https://arcsapp.mybluemix.net/references">Our Customers</a>
                <a class="active" href="https://arcsapp.mybluemix.net/process">A Project Process</a>
                <a href="https://arcsapp.mybluemix.net/convinced">Become a Customer</a>
                <a href="javascript:void(0);" class="icon" id="iSmall" onclick="respNavbar()">&#9776;</a>
            </div>
        </div>

        <!-- End of Header -->

        <!-- Start of Sidenav Social Media -->

        <div id="SMsidenav" class="sidenav">
            <a href="https://www.facebook.com/" id="F">
                <table class="table-sidenav" style="width:100%">
                    <tr>
                        <th style="width:90%">Facebook</th>
                        <th style="width:10%"><i class="fa fa-facebook"></i></th>
                    </tr>
                </table>
            </a>
            <a href="https://twitter.com/" id="T">
                <table class="table-sidenav" style="width:100%">
                    <tr>
                        <th style="width:90%">Twitter</th>
                        <th style="width:10%"><i class="fa fa-twitter"></i></th> 
                    </tr>
                </table>
            </a>
            <a href="https://www.linkedin.com/" id="L">
                <table class="table-sidenav" style="width:100%">
                    <tr>
                        <th style="width:90%">LinkedIn</th>
                        <th style="width:10%"><i class="fa fa-linkedin"></i></th>
                    </tr>
                </table>
            </a>
            <a href="https://www.xing.com/" id="X">
                <table class="table-sidenav" style="width:100%">
                    <tr>
                        <th style="width:90%">Xing</th>
                        <th style="width:10%"><i class="fa fa-xing"></i></th> 
                    </tr>
                </table>
            </a>
        </div>

        <!-- End of Sidenav Social Media -->

        <!-- Start of Scroll Up Button -->

        <button onclick="scrollToTop()" id="ScrollUpButton" title="Go to top">&#x25B2;</button>

        <!-- End of Scroll Up Button -->

        <!-- Start of Explanation -->
        <div class="container text-center">
            <h1>How we work?</h1>
            <p>
                One of the most important services we provide is transpanrency and communication. <br>
                Our service is therefore different from those others provide. While others just want a contract, which they can simply work off, relies our service on a very feedback based system, to provide the perfect solution without any misunderstandings or unwanted, expensive features.
            </p>
        </div>
        <!-- End of Explanation -->


        <hr>


        <!-- Start of Timeline -->

        <div class="container text-center">
            <h1>A Project Process</h1>
            <p>
                Talking about reliability as one of our key values, you need to know of course what we rely on. <br> 
                This is how the usual process of a project with us looks like.
                <br>
            </p>
        </div>
        
        <div class="timeline">
            <div class="containertl right">
                <div class="contentr">
                    <h2>RFP Submission</h2>
                    <p>Simply submit a request for project (RFP) telling us the key areas where your company requires help in and we will look into it!</p>
                </div>
            </div>
            <div class="containertl left">
                <div class="contentl">
                    <h2>Requirement elicitation</h2>
                    <p>Upon recieving your RFP, we will carry out the necessary research, come up with solutions and prepare a pitch.</p>
                </div>
            </div>
            <div class="containertl right">
                <div class="contentr">
                    <h2>Initial meeting and Pitch</h2>
                    <p>Set aside some time to discuss the details of the project and hear how our solution will be beneficial for you.</p>
                </div>
            </div>
            <div class="containertl left">
                <div class="contentl">
                    <h2>Reiteration and changes </h2>
                    <p>Based on the information received during the meeting, we will make the necessary changes and send you the final proposal.</p>
                </div>
            </div>
            <div class="containertl right">
                <div class="contentr">
                    <h2>Acceptance of project</h2>
                    <p>Once the proposal is satisfactory, send the go signal for us to begin providing our services.</p>
                </div>
            </div>
            <div class="containertl left">
                <div class="contentl">
                    <h2>Execution</h2>
                    <p>Our team will either work remotely or at your office where necessary to complete the required tasks at satisfactory standards.</p>
                </div>
            </div>
            <div class="containertl right">
                <div class="contentr">
                    <h2>Feedback</h2>
                    <p>Your feedback on the quality and timeliness on our services are welcomed at any time throughout the project.</p>
                </div>
            </div>
            <div class="containertl left">
                <div class="contentl">
                    <h2>Completion</h2>
                    <p>Marks the end of the project period! </p>
                </div>
            </div>
        </div>
        <!-- End of Timeline -->

        <!-- Start of Footer -->

        <footer>
            <div class="footer text-right">
                &copy; Copyright 2017 ARCSolutions
            </div>
        </footer>
        
        <!-- End of Footer -->

    </body>
</html>